/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: #333;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff6347;
}

/* Contact Section Styles */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem;
    background-color: antiquewhite;
}

.contact-info {
    max-width: 600px;
    padding: 2rem;
    background-color: #f8f8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-right: 2rem;
}

.contact-info h1 {
    font-size: 2.5rem;
    color: #333;
}

.contact-info p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.contact-item i {
    font-size: 2rem;
    color: #007bff;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.contact-item p {
    font-size: 1.2rem;
    color: #333;
}

.contact-item:hover i, .contact-item:hover p {
    color: #ff6347;
}

/* Contact Form Styles */
.contact-form {
    max-width: 600px;
    background-color: #f8f8f8;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.contact-form label {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 0.5rem;
    display: block;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 50px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: auto;
  }
  
  .footer p {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .footer ul li {
    margin: 0;
  }